<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"> 
    <head th:replace="~{layout/plantilla :: head}">       
        <title>TechShop</title>
        <meta charset="UTF-8"/>       
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button

                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarRols">
                            <i class="fas fa-plus"></i> Agregar Rols
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar rols, es la ventana modal -->
        <section th:fragment="agregarRol">
            <div id="agregarRols" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Roles</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/rol/guardar}" th:object="${rol}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="nombre">Nombre de la rol</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="idUsuario">Usuario</label>
                                    <select name="usuario.idUsuario" class="form-select" aria-label="Default select example">
                                        <option th:each="b : ${usuarios}" 
                                                th:value="${b.idUsuario}">[[${b.nombre}]]</option>
                                    </select>
                                </div>




                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad rols -->
        <section th:fragment="listadoRoles" id="rols">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de rols</h4>
                            </div>
                            <div th:if="${rols != null and !rols.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Id Rols</th>
                                            <th>Codigo de Rols</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="rols, contador : ${rols}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${rols.idRol}]]</td>
                                            <td>[[${rols.nombre}]]</td>
                                            <td>[[${rols.usuario.nombre}]]</td>


                                            <td>
                                                <a th:href="@{/rol/eliminar/}+${rols.idRol}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/rol/modificar/}+${rols.idRol}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${rols == null or rols.empty}">
                                <span>La lista esta vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total de rols</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalRols}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarRol">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/rol/guardar}" 
                          th:object="${rol}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idRol" th:field="*{idRol}"/>                       
                        <section th:replace="~{rol/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>

                                            <div class="modal-body">

                                                <div class="mb-3">
                                                    <label for="nombre">Nombre de la rol</label>
                                                    <input type="text" class="form-control" name="nombreRol"th:field="*{nombre}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="idUsuario">Usuario</label>
                                                    <select name="usuario.idUsuario" class="form-select" th:field="*{usuario.idUsuario}" aria-label="Default select example">
                                                        <option th:each="b : ${usuarios}" 
                                                                th:value="${b.idUsuario}">[[${b.nombre}]]</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/rol/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/rol/eliminar/}+${rol.idRol}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
